<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link th:href="@{/css/style.css}" href="/css/style.css"  rel="stylesheet" type="text/css"  />
<title>Ajout Celebrité</title>
</head>
<body>
<h2></h2>
	<form th:action="@{/celebrite/AddCeleb}" th:object="${formulaireCelebrite}" method="POST">
	<fieldset >
	    <legend>Ajouter une Celebrité</legend>
	    	<br/>
			<label> Numero celebrité :</label>
			<br/>
			<input type="text" th:field="*{numCelebrite}" />
			<br/><br/>
			<label>Nom celebrité :</label>
			<br/>
			<input type="text" th:field="*{nom}" />
			<br/><br/>
			<label>Prenom celebrité :</label>
			<br/>
			<input type="text" th:field="*{prenom}" />
			<br/><br/>
			<label>Nationalité :</label>
			<br/>
			<input type="text" th:field="*{nationalite}" />
			<br/><br/>
			<label>Epoque :</label>
			<br/>
			<input type="text" th:field="*{epoque}" />
			<br/><br/>
			
			<input type="submit" value="Create">
	<fieldset>	
	</form>

</body>
</html>