<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Affichage des Lieux</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container mt-3">
		<h1 align="center">Liste des Lieux</h1>

		<input class="form-control" id="myInput" type="text"
			placeholder="Search.."> <br>

		<table class="table table-bordered">
			<thead>
				<tr>
					<th>CodeInsee</th>
					<th>Departement</th>
					<th>Commune</th>
					<th>latitube</th>
					<th>longitude</th>
				</tr>
			</thead>
			<tbody id="myTable">
				<tr th:each="l : ${ListLieux}">
					<td th:utext="${l.codeInsee}"></td>
					<td th:utext="${l.dep.numDep}"></td>
					<td th:utext="${l.nomCom}"></td>
					<td th:utext="${l.latitude}"></td>
					<td th:utext="${l.longitude}"></td>


				</tr>
			</tbody>

		</table>
		<br> <br> <a th:href="@{/}"><button>Retour</button></a>
	</div>
	<script>
		$(document)
				.ready(
						function() {
							$("#myInput")
									.on(
											"keyup",
											function() {
												var value = $(this).val()
														.toLowerCase();
												$("#myTable tr")
														.filter(
																function() {
																	$(this)
																			.toggle(
																					$(
																							this)
																							.text()
																							.toLowerCase()
																							.indexOf(
																									value) > -1)
																});
											});
						});
	</script>
</body>
</html>