<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>



<body>
	<div class="container mt-3">
		<h1 align="center">Liste des Departements</h1>

		<input class="form-control" id="myInput" type="text"
			placeholder="Search.."> <br>


		<!--  <h1 th:text="${dpt.chef_lieu}" /></h1> -->


		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Numero de Departement</th>
					<th>Chef Lieu</th>
					<th>Nom du Département</th>
					<th>Numero de la Région</th>

				</tr>
			</thead>
			<thead>
			<tbody id="myTable">
				<tr th:each="d : ${ListDepartements}">
					<!-- <form action="#" th:href="@{/deptsListe/SuppDept}" th:object="${depSupp}" method="GET"></form>  -->

					<td th:text="${d.numDep}"></td>
					<td th:text="${d.chefLieu}"></td>
					<td th:text="${d.nomDep}"></td>
					<td th:text="${d.region}"></td>


				</tr>
			</tbody>
			</thead>
		</table>


		<a th:href="@{/}"><button>Retour</button></a>


		<!-- 
			    <div>
				    <ul>
				    	<li th:each="pa,status:${pages}" > 
				    		<a th:text="${status.index}"></a>
				    	</li>
				    </ul>
			    </div>
			
			    -->
	</div>

	<script>
		$(document)
				.ready(
						function() {
							$("#myInput")
									.on(
											"keyup",
											function() {
												var value = $(this).val()
														.toLowerCase();
												$("#myTable tr")
														.filter(
																function() {
																	$(this)
																			.toggle(
																					$(
																							this)
																							.text()
																							.toLowerCase()
																							.indexOf(
																									value) > -1)
																});
											});
						});
	</script>
</body>
</html>