<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Liste des célébrités</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link th:href="@{/css/style.css}" href="/css/style.css" rel="stylesheet"
	type="text/css" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</head>
<body>
	<div class="container mt-3">
		<h1 align="center">La liste des célébrités</h1>

		<input class="form-control" id="myInput" type="text"
			placeholder="Search.."> <br>


		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Numéro de célébrité</th>
					<th>Epoque</th>
					<th>Nationalité</th>
					<th>Nom</th>
					<th>Prénom</th>
					<th border="0">Supprimer
					<th>
				</tr>
			</thead>
			<thead>
			<tbody id="myTable">
				
				<tr th:each="c :${Celebrites}">
					<td th:text="${c.numCelebrite}"></td>
					<td th:text="${c.nom}"></td>
					<td th:text="${c.prenom}"></td>
					<td th:text="${c.nationalite}"></td>
					<td th:text="${c.epoque}"></td>

					<td><a th:href="@{supprimer(numCelebrite=${c.numCelebrite})}"><button>
								Supprimer</button></a></td>



				</tr>
			</tbody>
			</thead>
		</table>

		<br> <br> <a
			th:href="@{http://www.journaldunet.com/management/ville/index/departements}"><button>Le
				des departements de France</button></a>

	</div>
	<script>
		$(document)
				.ready(
						function() {
							$("#myInput")
									.on(
											"keyup",
											function() {
												var value = $(this).val()
														.toLowerCase();
												$("#myTable tr")
														.filter(
																function() {
																	$(this)
																			.toggle(
																					$(
																							this)
																							.text()
																							.toLowerCase()
																							.indexOf(
																									value) > -1)
																});
											});
						});
	</script>
</body>
</html>